.container {
	background-color: #c00025;
	width: 100%;
	max-width: 450px;
	border-radius: 15px;
	border: 2px solid grey;
	padding-bottom: 25px;
}
.display {
	margin:0 auto;
	margin-top: 25px;
	height: 100px;
	width: 400px;
	border-radius: 50px;
	color: white;
	background-color: #322c2d;
	box-shadow: 1px 1px #322c2d;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 8%;
	font-size: 5rem;
}


.other {
	display: flex;
	width: 100%;
	justify-content: center;
}

.other1 {
	width: 50%;
	margin-top: -20.5%;
}

.buttons1, .buttons2, .buttons3 {
	background: rgb(49, 93, 129);
	border-radius: 150%;
	width: 50px;
	height: 50px;
	margin: 5%;
	color: white;
    border: 2px groove white;
}

.buttons1{
    background: dodgerblue;
	margin: 15%;
}

.buttons2{
	background: steelblue;
	
    
}

.opButton {
	display: flex;
	justify-content: flex-end;
	margin-right: 29%;
	margin-top: 5%;
}

.numButton {
	margin: 3%;
    margin-left: 5%;
}
.spButton {
	margin-left: 2.5%;
}
