.container {
    
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin: 0 auto;
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    
  }






  
  .logo-container {
    display: flex;
    justify-content: center;
 }
 .other{
    /*  border: 1px solid white; */
    display:flex;
    width: 98%;
    margin: 0 auto;
    
 }


.other1{
    width: 50%;
}

.buttons{
    background: dodgerblue;
    border-radius: 150%;
    width: 50px;
    height:50px;
    margin: 5%;   
 }
.opButton{
    display: flex;
    justify-content: flex-end; 
    margin-right: 50%;
    margin-top: 3%;
}

.numButton{/* border: 5px groove white; */
   margin: 3%;
   margin-left: 5%;
}
.spButton{
    margin-left: 2.7%;
}

 